@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
body {
  font-family: 'Comfortaa', cursive;
  background: url(images/bg.jpg);
  padding: 50px 0;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.container{
  width: 800px;
  min-height: 800px;
  border: 10px solid #c37696;
  margin:0 auto;
  background: #c37696;
}
.header{
  display:flex;
  height: 150px;
  ;

}
.titleblock{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-style: oblique;
  width:80%;
  height: 100%;
  background: url(images/bg.jpg) no-repeat center center / cover;
  margin-right: 10px;
}
.userpic{
  display:flex;
  width:20%;
  height: 100%;
  background: url(images/ya.jpg) no-repeat center center / cover;
  
}
ul {
  margin: 10px;
  padding: 4px; 
 }
ul li {
  display: inline;
  margin-left:30px; 
  margin-right: 10px;
  border: 1px solid #000; 
  padding: 3px; 
 }
 .content-wrapper {
  display:flex;
 }
.content {
  width: 70%;
  padding:20px;

}
.sidebar {
  width: 30%;
  padding: 20px;

}
img{
  border:1px solid white;
}
